@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@1,700&display=swap');
body {
  margin: 0;
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
  /* justify-content: space-around;  */
}
.pane {
  height: 44vh;
  display: flex;
}

@media (max-width:768px){
  #container {
    width: 100%;
  }
  .top-pane{
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  .code-mirror{
    /* max-width: 98vmin; */
    min-width: 80vmax;
  }
}

/* Navigation Bar */

/* #navigation-bar{ 
  height: 13vmin;
  width: 100%;
  color: #111;
  padding-right: 1vw;
}  */
nav div a {
  display: flex;
}
nav div a h1 {
  margin-left: 2vw;
  margin-top: 1vmin;
}
div h1 {
  font-family: 'Victor Mono', monospace;
  margin-left: -3vw;
}
div img {
  height: 9vmin;
  position: relative;
  padding-left: 2px;
}

button #menu-btn {
  font-size: 8vmin;
  color: solid black;
}
#nav-p-2 {
  margin-left: -40vmin;
  /* background-color: aqua; */
}
#nav-option {
  display: flex;
  align-items: center;
  justify-content: start;
}
#nav-option .btn {
  border-radius: 0;
  border-left: solid 1px black;
  font-size: 4vmin;
  padding-left: 4vmin;
  padding-right: 2vmin;
}
#resp-menu {
  display: none;
}

@media (max-width: 768px) {
  #resp-menu {
    display: block;
  }
  #nav-option {
    display: none;
  }
}

/* Editor Container */

.editor-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: hsl(225, 6%, 25%);
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 10%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
} 

@media (max-width:1400px) and (min-width:769px){
  .code-mirror{
    max-width: 70vmin;
    min-width: 45vmin;
  }
} 
.code-mirror {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
  /* flex: 1; */
  /* resize: horizontal; */
}
.output {
  background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}
/* Programming Language(PL) Editor */
.container {
  width: 100vh;
  height: 100vh;
  display: flex;
  background-color: rgb(27, 24, 24);
}
.output {
  display: flex;
  flex-direction: column;
}
.label {
  background-color: aliceblue;
  color: tomato;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.editor {
  margin-top: 0%;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.edit {
  height: 8 0vh;
}
